
.deals {
    margin-top: 70px;
}

@media  screen and (max-width: 550px) {

    .deals {
        margin-top: 100px;
    }
    
}


@media  screen and (max-width: 422px) {

    .deals {
        margin-top: 20px;
    }
    
}